.vertical_spacing{
    margin-top: 30px;
}


button{
    cursor: pointer;
}

.my_links{
    width: 75px;

    text-align: left;

    transition: width 0.5s, padding 0.5s;
}
.my_links:hover{
    width: 100px;

    padding-right: 40px;
}

